@media (max-width: 925px) {
    .urna {
        width: 80vw;
        flex-direction: column;
    }

    .tela {
        margin-bottom: 15px;
    }

    .tela, .teclado {
        width: 100%;
        height: 50%;
    }

    .teclado {
        margin-left: 0px;

    }

    .d-1-3 {
        width: 160px;
    }
}